* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  @font-face {
    font-family: "Bely Regular"; /* Vervang 'NaamVanHetLettertype' door de gewenste naam */
    src: url("https://use.typekit.net/ika7qtc.css"); /* Vervang 'pad/naar/het/lettertype.otf' door het juiste pad naar je lettertypebestand */
  }

  color-scheme: normal;
  color: rgba(51, 51, 51, 0.87);
  background-color: #fffdf0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
